<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp10.Properties.Settings.MaliKuaforConnectionString" connectionString="Data Source=LAPTOP-M2FJJ7A2\SQLEXPRESS;Initial Catalog=MaliKuafor;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
